<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel='icon' href='image/weather.png'>
  <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
  <div class="main-content">
    {{>header}}
    <P>This site was created by Daniel B. It uses data from weatherstack.com and mapbox.com</P>
    <img class='portrait' src="/img/calvin_hobbes.png">
  </div>

  {{>footer}}
</body>

</html>